[EQValet]
bell = True

[Everquest]
base_directory = c:\everquest
logs_directory = \logs\
heartbeat = 15

[RandomParser]
parse = True
grouping_window = 60

[DamageParser]
parse = True
spell_pending_timeout_sec = 10
combat_timeout_sec = 120

[PetParser]
parse = True

